body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

main img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 1px 15px 1px black;
}
button:hover {
  transform: scale(1.1);
  transition: 400ms;
}

.commander {
  padding: 15px 40px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.containermenus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding-top: 20px;
  margin-top: 180px;
  border-radius: 20px 20px 0px 0px;
  background-color: #eeeeee;
}
.containermenus h1 {
  font-family: shrikhand, sans-serif;
  font-size: 23px;
  padding-left: 10px;
}
.containermenus i {
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 35px;
}
.containermenus .containermenus i {
  font-weight: 400;
  background: linear-gradient(black black);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 250ms;
}
.containermenus i:hover {
  font-weight: 600;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: heart 1000ms;
}
@keyframes heart {
  0% {
    font-weight: 200;
    opacity: 0;
  }
  100% {
    font-weight: 600;
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

.starter {
  margin-top: 80px;
  font-size: 15px;
}

.menus {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.menus h3 {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 8px;
  width: 35px;
  font-weight: 300;
  font-size: 15px;
}

.descriptionmenus {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: 2px solid red;
  overflow: hidden;
  animation: descriptionmenus 2000ms;
}
@keyframes descriptionmenus {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
.descriptionmenus .food {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.descriptionmenus .food h2 {
  margin: 0px;
  padding-top: 10px;
  width: 100%;
  font-size: 12px;
}
.descriptionmenus .food p {
  margin: 0px;
  padding-top: 5px;
  width: 100%;
  font-size: 12px;
}
.descriptionmenus .price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 12px;
  padding-top: 20px;
}
.descriptionmenus .bloc {
  background-color: #99E2D0;
  height: 55px;
  width: 0%;
  border-radius: 0px 18px 18px 0px;
}
.descriptionmenus .bloc i {
  margin-top: 20px;
  margin-left: 30%;
  color: #99E2D0;
  border: 1px solid #99E2D0;
  padding: 3px 4px;
  background-color: white;
  border-radius: 50px;
  font-size: 12px;
}
.descriptionmenus:hover .food h2, .descriptionmenus:hover p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}
.descriptionmenus:hover .price {
  transform: translate(-65px);
  transition: transform 1000ms ease-in-out;
}
.descriptionmenus:hover .bloc {
  transform: translate(-65px);
  transition: transform 1000ms ease-in-out;
}
.descriptionmenus:hover .bloc i {
  transform: rotate(360deg);
  transition: transform 1000ms ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}
header i {
  padding-left: 20px;
}

footer {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: #3b3535;
  color: white;
}
footer h2 {
  font-family: Shrikhand, sans serif;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer p {
  margin: 0px;
  padding-bottom: 10px;
}
footer .propose {
  display: flex;
  align-items: center;
}
footer .propose p {
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
}
footer .propose i {
  padding-bottom: 10px;
}
footer .partner {
  display: flex;
  align-items: center;
}
footer .partner p {
  padding-left: 10px;
  margin: 0px;
}
footer .partner i {
  font-size: 12px;
  padding-bottom: 10px;
}

/*# sourceMappingURL=cartes.css.map */
