@import "./utils/_mixins.scss";
@import "./bases/_bases.scss";
@import "./utils/color.scss";
@import "./components/buttons.scss";
header{
    @include headercards
}
.containermenus{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 20px;
    margin-top: 180px;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid maroon;
    background-color: rgb(238, 238, 238);
    & h1{
        width: 80%;
        font-family: shrikhand, sans-serif;
        font-size: 23px;
        padding-left: 10px; 
    }
    & i{
        font-size: 35px;
    }
}
main{
    display: flex; 
    flex-direction: column;  
    align-items: center;
    background-color: rgb(238, 238, 238);

}
.starter{
    margin-top: 150px;
}
.menus{
    display: flex;
    flex-direction: column;
    width: 90%;
    & h3{
    border-bottom: 4px solid $color-tertiary;
    padding-bottom: 8px;
    width: 45px;
    font-weight: 300;
    }
}
.descriptionmenus{
    @include descriptionmenus
}  
.commander{
    padding: (15px 40px);
    margin-top: 50px;
    margin-bottom: 70px;
}
footer{
    @include footer;
}