@import "./bases/_bases.scss";
@import "./utils/_color.scss";
@import "./layout/_header.scss";
@import "./layout/_city.scss";
@import "./layout/_explorer.scss";
@import "./utils/_mixins.scss";
@import "./layout/_choice.scss";
@import "./layout/_footer.scss";
.newone{
    position: relative;
    height: 150px;
}  
.newone span{
    position: absolute;
    top: 15px;
    right: 10px;
    background-color:#99E2D0;

    padding: 5px 10px;
    border-radius: 3px;
    color: darken($color-tertiary, $amount: 35%);
    font-weight: 500;
}
.newtwo{
    position: relative;
    height: 150px;
    border: 2px solid violet;
}
.newtwo span{
    position: absolute;
    top: 1px;
    right: 10px;
    background-color:#99E2D0;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    color: darken($color-tertiary, $amount: 35%);
    font-weight: 500; 
}
.list{   
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
   & h2{
        font-size: 25px;
        text-align: left;
        margin-left: 40px;
        align-self: flex-start;
   }   
   & .card{
        border: 2px solid red;
        width: 90% ;
        margin-bottom: 20px;
        border-radius: 20px;
   } 
   & .cardtext{
       border: green solid 2px;
       display: flex;
       flex-direction: column;
    } 
       & h3, p{
            color: black;
            align-self: flex-start;
            padding-left: 30px;
        }
       & i{
            align-self: flex-end;
            font-size: 20px;
            padding-right: 30px;
            color: black;
            @include heart;
       }  
}







