@import "./bases/_bases.scss";
@import "./utils/_color.scss";
@import "./layout/_header.scss";
@import "./layout/_city.scss";
@import "./layout/_explorer.scss";
@import "./utils/_mixins.scss";
.newone{
    position: relative;
    height: 200px;
    border: 2px solid violet;
}   
.newone p{
    position: absolute;
    top: 1px;
    right: 10px;
    background-color:#99E2D0;
    padding: 5px 10px;
    border-radius: 3px;
    color: darken($color-tertiary, $amount: 35%);
    font-weight: 500;
}
.newtwo{
    position: relative;
    height: 200px;
    border: 2px solid violet;
}
.newtwo p{
    position: absolute;
    top: 1px;
    right: 10px;
    background-color:#99E2D0;
    padding: 5px 10px;
    border-radius: 3px;
    color: darken($color-tertiary, $amount: 35%);
    font-weight: 500; 
}
.choice{
    & li{
        border: 1px solid grey;
        padding: 20px 5px;
        margin-bottom: 20px;
        border-radius: 15px;
        font-weight: 500;
        @include box-shadow;
        list-style-type: none;
        position: relative;
        &:hover{
            @include transform;
            background-color: rgb(238, 225, 238);
            i{
                color: $color-primary;
            }
        }
    }
    & i{
        padding-right: 20px;
    }
    & span{
        padding: 5px 10px;
        background-color: $color-primary;
        color: white;
        border-radius: 50px;
        position: absolute;
        left: -14px;
        bottom: 15px;

    }
}




