body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

main img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 30px;
}

header {
  text-align: center;
  box-shadow: 0px 1px 3px 1px gray;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 229, 229);
  margin-top: 3px;
}
.city h2 {
  padding-left: 20px;
  font-size: 15px;
}

.explorer {
  background-color: rgb(238, 238, 238);
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.explorer h2 {
  font-size: 18px;
}
.explorer p {
  font-size: 15px;
  font-weight: 100;
}
.explorer button {
  margin-top: 25px;
}

.choice h2 {
  font-size: 25px;
  text-align: left;
  margin-left: 40px;
}
.choice li {
  width: 90%;
  background-color: rgb(230, 229, 229);
  border: 1px solid grey;
  padding: 20px 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 2px 1px 15px 1px black;
  list-style-type: none;
  position: relative;
  text-align: left;
}
.choice li:hover {
  transform: scale(1.1);
  transition: 400ms;
  background-color: rgb(238, 225, 238);
}
.choice li:hover i {
  color: #9356DC;
}
.choice i {
  padding-right: 15px;
  padding-left: 30px;
}
.choice span {
  padding: 5px 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  position: absolute;
  left: -14px;
  bottom: 15px;
}

footer {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: rgb(59, 53, 53);
  color: white;
}
footer h2 {
  font-family: Shrikhand, sans serif;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer p {
  margin: 0px;
  padding-bottom: 10px;
}
footer .propose {
  display: flex;
  align-items: center;
}
footer .propose p {
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px;
}
footer .propose i {
  padding-bottom: 10px;
}
footer .partner {
  display: flex;
  align-items: center;
}
footer .partner p {
  padding-left: 10px;
  margin: 0px;
}
footer .partner i {
  font-size: 12px;
  padding-bottom: 10px;
}

button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 1px 15px 1px black;
}
button:hover {
  transform: scale(1.1);
  transition: 400ms;
}

.commander {
  padding: 15px 40px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.list {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.list h2 {
  font-size: 25px;
  text-align: left;
  margin-left: 40px;
  align-self: flex-start;
}
.list .card {
  width: 90%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
}
.list .cardtext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  width: 92%;
}
.list h3 {
  color: black;
  font-size: 15px;
  padding-left: 10px;
  margin: 0px;
}
.list p {
  font-size: 15px;
  margin: 0px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
}
.list i {
  font-size: 25px;
  padding-bottom: 25px;
  padding-right: 1px;
  padding-bottom: 15px;
  font-weight: 400;
  background-color: black;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: black;
  transition: tranform 2000ms;
}
.list i:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: heart 2000ms;
          animation: heart 2000ms;
}
@-webkit-keyframes heart {
  0% {
    font-weight: 600;
  }
  1% {
    opacity: 0.4;
  }
  100% {
    font-weight: 600;
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    font-weight: 600;
  }
  1% {
    opacity: 0.4;
  }
  100% {
    font-weight: 600;
    opacity: 1;
  }
}

.newone {
  position: relative;
  height: 200px;
}

.newone span {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 3px;
  color: #2c9c81;
  font-weight: 500;
}

.newtwo {
  position: relative;
  height: 200px;
}

.newtwo span {
  position: absolute;
  top: 1px;
  right: 10px;
  background-color: #99E2D0;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  color: #2c9c81;
  font-weight: 500;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: whitesmoke;
  opacity: 0.8;
  inset: 0px;
  z-index: 1;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation: loading 1s forwards;
          animation: loading 1s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader p {
  border: 10px solid transparent;
  border-left: transparent;
  border-top: 10px solid #FF79DA;
  color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-animation: border 1s linear infinite;
          animation: border 1s linear infinite;
}
@-webkit-keyframes border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .choice ol {
    display: flex;
  }

  .choice li {
    width: 30%;
    margin: 0px 20px;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list h2 {
    width: 100%;
  }

  .list .card {
    width: 45%;
    margin-left: 3%;
  }
}
@media (min-width: 768px) {
  .menucard {
    margin-top: 80px;
  }

  .starter {
    margin-top: 15px;
  }

  .menus {
    width: 30%;
  }

  .descriptionmenus {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */