@import "../utils/_mixins.scss";
.explorer{
    background-color: rgb(238, 238, 238);
    padding-top: 20px;
    padding-bottom: 50px;

    & h2{
    font-size: 18px;
    }
    & p{
    font-size: 15px;
    }
    & button{
        margin-top: 25px;
    }
    
}