@media (min-width: 768px) {
    .choice ol{
        display: flex;
    }
    .choice li{
        width: 30%;
        margin: 0px 20px;
    }
    .list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & h2{
            width: 100%;
        }
    }
    .list .card{
        width: 45%;
        margin-left: 3%;
    }
}
@media (min-width: 768px){
    .starter{
        margin-top: 15px;
    }
    .menus{
        width: 30%;
    }
    .descriptionmenus{
        width: 95%;
    }
    .menucard{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
        margin-top: 80px;
    }
}
