body {
    margin: 0px;
    text-align: center;
    font-family: roboto, sans-serif;
    background-color: aquamarine;
  }
  
  main img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: green solid 2px;
  }