@mixin box-shadow{
    box-shadow: 2px 1px 15px 1px black;  
}
@mixin transform {
    transform: scale(1.1);
    transition: 400ms;
}
@mixin headercards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20%;
    & .logo{
        height: 30px;
        margin-top: 15px;  
        margin-bottom: 10px;
    }
    & i{
        padding-left: 20px;
    }
}
@mixin descriptionmenus {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 2px solid red;
    overflow: hidden;
    & .food{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 66%;
        & h2{
            margin: 0px;
            padding-top: 10px;
            width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            box-sizing: border-box;
            font-size: 15px;
        }
        & p{
            margin: 0px;
            padding-top: 5px;
            width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            box-sizing: border-box;
            font-size: 15px;
        }
    }
    & .price{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 17%;
        font-size: 13px;
        padding-top: 23px;
    }
    & .bloc{
        height: 55px;
        background-color: $color-tertiary;
        border-radius: 0px 18px 18px 0px;
        width: 17%;
        & i{
            margin-top: 20px;
            margin-left: 30%;
            color: $color-tertiary;
            border: 1px solid $color-tertiary;
            padding: 3px 4px;
            background-color: $color-white;
            border-radius: 50px;
            font-size: 12px;
        }
    }
}
@mixin footer{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: rgb(59, 53, 53);
    color: white;
    & h2{
        font-family: Shrikhand, sans serif;
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 20px;
    }    
    & p{
        margin: 0px;
        padding-bottom: 10px;
    }
}
.propose{
    display: flex;
    align-items: center;
    & p{
        padding-left: 10px;
        padding-bottom: 10px;
        margin: 0px;
    }
    & i{
        padding-bottom: 10px;
    }
}
.partner{
    display: flex;
    align-items: center;
    & p{
        padding-left: 10px;
        margin: 0px;
    }
    & i{
        font-size: 12px;
        padding-bottom: 10px;
    }
}