@mixin box-shadow{
    box-shadow: 2px 1px 15px 1px black;  
}
@mixin transform {
    transform: scale(1.1);
    transition: 400ms;
}
@mixin headercards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .logo{
        height: 30px;
        margin-top: 15px;  
        margin-bottom: 10px;
    }
    & i{
        padding-left: 20px;
    }
}
@mixin footer{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 30px;
    background-color: rgb(59, 53, 53);
    color: white;
    & h2{
        font-family: Shrikhand, sans serif;
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 20px;
    }    
    & p{
        margin: 0px;
        padding-bottom: 10px;
    }
    & .propose{
        display: flex;
        align-items: center;
        & p{
            padding-left: 10px;
            padding-bottom: 10px;
            margin: 0px;
        }
        & i{
            padding-bottom: 10px;
        }
    }
    & .partner{
        display: flex;
        align-items: center;
        & p{
            padding-left: 10px;
            margin: 0px;
        }
        & i{
            font-size: 12px;
            padding-bottom: 10px;
        }
    }
}